:root {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 10px;
}

.leftNavbarDiv {
  width: 250px;
  height: 100vh;
  background-color: "ebebeb";
  position: fixed;
}

li {
  color: black; /* default color */
}

li:hover {
  color: white; /* color on hover */
  background-color: black; /* background on hover */
  border-radius: 5px;
  transform: scale(1.2);
}

.listOfNavItemsSelected {
  background-color: blue; /* background on hover */
  border-radius: 5px;
  transform: scale(1.1);
  color: white; /* color on hover */
}

.loginComponentDiv {
  display: flex;
  flex-direction: column; /* Stack the elements vertically */
  height: 96vh; /* Full viewport height */
}

.pageDiv {
  display: flex; /* Creates a flex container for left and right divs */
  flex-grow: 1; /* Ensures it takes up the remaining height */
  width: 100%; /* Ensures it takes up the full width */
  flex-direction: row;
}

.loginComponentLeftDiv {
  width: 30%; /* Left div takes 30% of the width */
  /* background-color: #3498db; Optional background for left div */
}

.loginComponentRightDiv {
  width: 70%; /* Right div now takes the remaining 70% */
  /* background-color: #e74c3c;  */
  margin-left: 300px;
  height: fit-content;
  margin-top: 100px;
  font-size: 2rem;
}

.bgImageDiv img {
  width: 90%; /* Ensures image fits the container */
  height: auto; /* Keeps image's aspect ratio */
}

.loginPageDivHeadingText {
  /* background-color: aliceblue; */
  display: grid;
  font-size: 3rem;
}

.loginEmailAddress {
  /* background-color: aqua; */
  /* background-color: blueviolet; */
  margin-top: 2rem;
  padding-top: 12px;
  font-weight: 700;
}

.loginEmailAddress input {
  height: 4em;
  width: 70%;
  border-radius: 2px;
  font-size: 2.1rem;
  padding: 18px 10px;
  height: fit-content;
  color: rgb(96, 96, 99);
}

.buttonPlusText {
  margin-top: 20px;
  width: 610px;
  margin-top: 4rem;
  padding-top: 20px;
}

.buttonPlusText button {
  padding: 10px;
  font-size: x-large;
  background-color: darkgreen;
  margin-top: 3rem;
  color: #d5d5d5;
  cursor: pointer;
}

.buttonPlusText button:hover {
  background-color: green;
  transition: all ease 200ms;
  transform: scale(1.1);
  cursor: pointer;
  border-radius: 5%;
  color: #d5d5d5;
}

.resumePage,
.interviewPage {
  margin-left: 300px;
  overflow: hidden;
  background-color: #d5d5d5;
  height: 98vh;
  font-size: 1.8rem;
  max-width: 82%;
  margin-right: 50px;
  padding: 0.2%;
  box-sizing: border-box;
  border: 1px dotted black;
}

.personalDetails {
  height: 20vh;
  display: flex;
  margin-top: 2px;
  max-width: 98%;
  margin-left: 15px;
  padding-bottom: 2%;
  box-sizing: border-box;
  padding-top: 10px;
  border: 1px dotted rgb(39, 37, 37);
  /* border-style:  none none solid none; */
}

.uploadImage {
  display: grid;
}

.personalDetails input {
  height: "100px";
  /* background-color: #251ca1; */
  height: 40px;
  font-size: large;
  padding-left: 13px;
}

.uploadImage input {
  background-color: blue;
}

.firstNameLastNameGenderDob {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  width: 100vw;
  padding: 2px auto;
  margin-left: 30px;
  margin-right: 15px;
}

.firstNameDiv,
.lastNameDiv,
.genderDiv,
.dateOfBirthDiv {
  display: grid;
}

.genderDiv select {
  width: "100px";
  height: "100px";
  background-color: chartreuse;
  height: 40px;
  font-size: large;
  padding-left: 13px;
}

.resumePage button:hover {
  background-color: green;
  transition: all ease 400ms;
  transform: scale(1.1);
  cursor: pointer;
}

.officialDetails {
  height: 60vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 9px 15px 9px 15px;
  padding: 1%;
  gap: 2rem;
  font-size: 1.6rem;
  position: relative;
  box-sizing: border-box;
  border: 1px dotted rgb(39, 37, 37);
}

.officialDetails input {
  width: 40%;
  border-radius: 2px;
  font-size: 1.7rem;
  padding: 10px 7px;
  box-sizing: border-box;
  border: 1px solid gray;
  /* height: fit-content; */
}

.emailDiv,
.eduDiv,
.joiningDateDiv,
.idProofDiv {
  display: flex;
  flex-direction: column;
}

.uploadFileInputDiv {
  width: 100%;
  background-color: rgb(255, 255, 255);
  box-sizing: border-box;
}

.emailDiv input {
  width: auto;
}

.eduDiv input {
  width: auto;
}

.joiningDateDiv input {
  width: auto;
}

.expDiv {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}
.totalExpDiv,
.relExpDiv {
  display: flex;
  flex-direction: column;
}

.currentCtcDiv div,
.mobileNumberDiv div,
.projectDiv div,
.expectedCtcDiv div,
.noticePeriodDiv div,
.jobRoleDiv div,
.idProofDiv div,
.bloodGroupDiv div {
  width: 100%;
  display: flex;
}
.expDiv input,
.bloodGroupDiv input {
  width: 100%;
  /* gap: 10px; */
}

.idProofDiv {
  width: 100%;
}

.inputEnterValue {
  flex: 8;
}

.readOnlyInput {
  flex: 2;
}

.joiningDateInput {
  width: auto;
  background-color: rgb(255, 255, 255);
  box-sizing: border-box;
}

.jobRoleInput,
.projectInput,
.mobileNumberInput,
.idProofInput {
  flex: 9;
}

.idProofInput {
  width: 100%;
  background-color: rgb(255, 255, 255);
  box-sizing: border-box;
}

.selctOption {
  flex: 1;
}

.footerDeclaration {
  display: flex;
  margin-left: 20px;
  gap: 10px;
  box-sizing: border-box;
  border: 1px dotted rgb(39, 37, 37);
  margin: 3px 15px 5px 15px;
  margin-bottom: 11px;
}

.saveButton {
  margin-left: 20px;
  gap: 10px;
  font-size: larger;
  margin: 3px 15px 5px 15px;
  border-radius: 1rem;
  padding: 1rem;
}

.saveButton:hover {
  transition: all ease-in 500ms;
  background-color: #1d8503;
  color: #f1f1f1;
  cursor: pointer;
}

.profilePage {
  margin-left: 300px;
  background-color: #dbdbdb;
  font-size: 1.8rem;
  margin-right: 50px;
  padding: 0.2%;
  box-sizing: border-box;
  border: 1px dotted black;
}

.profileDetails{
  border: 1px dotted rgb(39, 37, 37);
  margin: 9px 15px 9px 15px;
  padding: 1%;
}

.residenceDetails, .bankDetails{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  font-size: 1.6rem;
  position: relative;
  box-sizing: border-box;
}

.profileDetails input {
  width: 100%;
  border-radius: 2px;
  font-size: 1.7rem;
  padding: 10px 7px;
  box-sizing: border-box;
  border: 1px solid gray;
}
